@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}
ul {
  list-style: disc;
  padding-left: 2rem;
}
a {
  color: #3b82f6;
  text-decoration: underline;
}

a:hover {
  color: #60a5fa;
}
blockquote {
  border-left: 4px solid #777;
  margin: 1rem 0;
  padding-left: 1rem;
  color: #bbb;
  font-style: italic;
  background-color: #222;
}

hr {
  border: none;
  border-top: 2px solid #444;
  margin: 1rem 0;
}
